.main {
    display: flex;
    justify-content: space-around;
    height: 900px;
}
div {
    border: 1px solid black;
}
#divText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#divWithBtn {
    width: 50%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
#divWithBtn button {
    width: 100px;
    height: 40px;
}
#save {
    width: 100px;
    height: 40px;
    text-decoration: none;
    border: 1px solid black;
}
#textArea {
    width: 100%;
    resize: none;
    height: 70%;
}
#textVariables {
    width: 100%;
    resize: none;
    height: 30%;
}